# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/node_modules/
/package-lock.json


/logs/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
